udemy_course_march_2023/angular-tests-playground1/cypress/videos/*
udemy_course_march_2023/angular-tests-playground1/cypress/screenshots/*
udemy_course_march_2023/angular-tests-playground1/.cypress_key
